@media (min-width: 1280px) {

    /*
========================================
         SECTION: BLOGS  -  START
========================================
*/




/* ==================== CONTAINER BLOGS - START ==================== */


.section-blogs-filters .grid-container .blogs {
  grid-template-columns: repeat(3, 1fr);
}

.section-blogs-filters .grid-container .blogs .card:nth-child(n + 1) {
  display: flex;
  }
  .section-blogs-filters .grid-container .blogs .card:nth-child(n + 10) {
    display: none;
    }

/* ==================== CONTAINER BLOGS - END ==================== */



/*
========================================
         SECTION: BLOGS  -  END
========================================
*/
}
