@media (min-width: 769px) {
  /*
========================================
         SECTION: BLOGS  -  START
========================================
*/
 

  
 
  

  .section-blogs-filters .grid-container .search .search-result li a {
    width: 100%;
    height: 100%;
    color: var(--color-blue);
    text-decoration: none;
    font-size: var(--font-size-s);
    display: inline-block;
    max-width: 20ch; /**/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: var(--padding-xs);
  }

  .latest-posts .posts li a .details h5 {
    font-size: var(--font-size-m);
    max-width: 16ch; /**/
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-black);
  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }
  
  

  /* ==================== CONTAINER BLOGS - START ==================== */

  .section-blogs-filters .grid-container .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-blogs-filters .grid-container .blogs .card:nth-child(n + 6) {
    display: flex;
    }
    .section-blogs-filters .grid-container .blogs .card:nth-child(n + 8) {
      display: none;
      }
    
  /* ==================== CONTAINER BLOGS - END ==================== */

  /*
========================================
         SECTION: BLOGS  -  END
========================================
*/
}
