@media (min-width: 1280px) {

/*
========================================
         SECTION: CONTACT  -  START
========================================
*/
.contact-form .message-form form {
  min-width: 650px; 
}

/*
========================================
         SECTION: CONTACT  -  END
========================================
*/

}
