@import url(../layout/mobile.css);

/*
========================================
         SECTION: REGISTER  -  START
========================================
*/
.header {
  background: var(--color-blue);
  position: relative;
}

.header.scroll{
  position: fixed;
}
.form-wrapper {
  display: flex;
  justify-content: center;
}


.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-main);
}

.form-steps {
  background: var(--color-white);
  padding: var(--padding-card);
  display: flex;
  gap: var(--gap-main);
  flex-direction: column;
  border-radius: var(--border-radius-xl);
}

.form-steps .title {
  font-size: var(--font-size-card-title);
  color: var(--color-blue);
}

.form-inputs-col {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}
.form-inputs-col .form-inputs-row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;/**/
  width: 100%;
  gap: var(--gap-main);
}

.form-inputs-col .form-inputs-row .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;/**/
  gap: var(--gap-m);
}

.form-group label {
  color: var(--color-blue);
  font-size: var(--font-size-m);
  cursor: pointer;
}

.form-group input,
.form-group textarea {
  font-size: var(--font-size-l);
  padding: var(--padding-input);
  border-radius: var(--border-radius-s);
  background-color: var(--color-main-color);
  font-size: var(--font-size-m);
  border: none;
  outline: none;
}

.form-group.one-col {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.form-group textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
}

.form-group.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: var(--gap-m);
}

.form-group.checkbox a {
  color: var(--color-blue-soft);
  font-weight: var(--font-weight-l);
}

.form-group.checkbox input[type="checkbox"] {
  accent-color: var(--color-blue-soft);
  width: 15px;
  height: 15px;
  background-color: #e0e0e0;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.error{
  color: red;
  font-size: var(--font-size-s);
}



form button {
  width: max-content;
  display: flex;
  padding: var(--padding-button-big);
  justify-content: center;
  align-items: center;
  gap: var(--gap-l);
  border-radius: var(--border-radius-s);
  background: var(--color-blue-soft);
  font-size: var(--font-size-m);
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s ease !important;
  outline: none;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: var(--color-blue);
  color: var(--color-white);
}

.form-group p {
  color: var(--color-blue);
  font-size: var(--font-size-m);
}

.form-group a {
  color: var(--color-blue-soft);
  font-weight: var(--font-weight-l);
}

.register-button{
  display: flex;
  justify-content: space-between;
}