@media (min-width: 1024px) {
  .main-slider .swiper .swiper-button-next,
  .main-slider .swiper .swiper-button-prev {
    display: block;
    /* width: 10px !important; */
    padding-left: var(--padding-main) !important;
    padding-right: var(--padding-main) !important;
  }

  .main-slider .swiper .swiper-slide .box {
    max-width: 38%;
    width: max-content;
  }
}
