@media (min-width: 1024px) {
  .main-slider .swiper .swiper-button-next,
  .main-slider .swiper .swiper-button-prev {
    display: block;
    /* width: 10px !important; */
    padding-left: var(--padding-main) !important;
    padding-right: var(--padding-main) !important;
  }

  .main-slider .swiper .swiper-slide .box {
    max-width: 38%;
    width: max-content;
  }
  
  /*
  ========================================
       SECTION: SERVICE  -  START
  ========================================
  */

.section-services .container .swiper-horizontal > .section-services .container .swiper-pagination-bullets,
.section-services .container .swiper-pagination-bullets.swiper-pagination-horizontal,
.section-services .container .swiper-pagination-custom,
.section-services .container .swiper-pagination-fraction {
  height: 80px; /**/
}
.section-services .swiper-slide.card {
  min-height: 410px; /**/
}
.section-services .swiper-slide.card .icon img {
  width: 90px;/**/
  height: 90px;/**/
}
  /*
========================================
         SECTION: SERVICE  -  END
========================================
*/


/*
========================================
         SECTION: BLOGS  -  START
========================================
*/
.section-blogs .container .swiper-horizontal > .section-blogs .container .swiper-pagination-bullets,
.section-blogs .container .swiper-pagination-bullets.swiper-pagination-horizontal,
.section-blogs .container .swiper-pagination-custom,
.section-blogs .container .swiper-pagination-fraction {
  height: 80px; /**/
}
.section-blogs .swiper-slide.card {
  min-height: 530px; /**/
}


/*
========================================
         SECTION: BLOGS  -  END
========================================
*/


/*
========================================
         SECTION: PARTNERS  -  START
========================================
*/

.partners .container .partner-list {
  grid-template-columns: repeat(4, 1fr);
}

.partners .container .partner-list li:nth-child(n - 13) {
  display: flex ;
}

.partners .container .partner-list li:nth-child(n + 13) {
  display: none;
}

/*
========================================
         SECTION: PARTNERS  -  END
========================================
*/

}
