@import url(../layout/mobile.css);

/*
========================================
         SLİDER  -  START
========================================
*/

.main-slider .swiper {
  width: 100%;
  min-height: 78vh;
  max-height: 95vh;
}

.main-slider .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #9c7373;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 78vh;
  max-height: 95vh;
  position: relative;
}

.main-slider .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  min-height: 78vh;
  max-height: 95vh;
  object-fit: cover;
}

.main-slider .swiper .swiper-button-next,
.main-slider .swiper .swiper-button-prev {
  display: none;
  padding-left: var(--padding-main) !important;
  padding-right: var(--padding-main) !important;
}

.main-slider .swiper .swiper-button-next::after,
.main-slider .swiper .swiper-button-prev::after {
  font-size: var(--font-size-xl) !important;
  font-weight: var(--font-weight-xl) !important;
  color: var(--color-white-soft);
  transition: all 0.3s ease;
}

.main-slider .swiper .swiper-button-next:hover::after,
.main-slider .swiper .swiper-button-prev:hover::after {
  color: var(--color-white);
}

.main-slider .swiper .swiper-pagination {
  bottom: 5%;
}

.main-slider .swiper .swiper-pagination-bullet {
  width: var(--pagination-size);
  height: var(--pagination-size);
  background-color: var(--pagination-color);
  transition: background-color 0.3s ease;
}

.main-slider .swiper .swiper-pagination-bullet-active {
  background-color: var(--color-white);
}

.main-slider .swiper .swiper-pagination-bullet:hover {
  background-color: var(--color-white);
  transform: 1.2;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.main-slider .swiper .swiper-slide .box {
  position: absolute;
  left: 5%;
  bottom: 12%;
  padding: var(--padding-m);
  max-width: 90%;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--gap-l);
  color: var(--color-white);
  border-radius: var(--border-radius-l);
  background: var(--Dark-Blue---Soft, rgba(6, 22, 48, 0.5));
  backdrop-filter: blur(calc(var(--sds-size-blur-100) / 2));
}

.main-slider .swiper .swiper-slide .title {
  font-size: var(--font-size-l);
  text-align: start;
}

/*
========================================
         SLİDER  -  END
========================================
*/

/*
========================================
         SECTION: WELCOME  -  START
========================================
*/

.welcome .container {
  display: grid;
}

.welcome .container .con-row:nth-child(1) {
  order: 2;
  height: 100%;
  width: 100%;
}

.welcome .container .con-row:nth-child(2) {
  order: 1;
}

.welcome .container .con-row:nth-child(3) {
  order: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome .container .info {
  display: flex;
  align-items: center;
  gap: var(--gap-main);
}

.welcome .container .info .description {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  font-size: var(--font-size-l);
}

.welcome .container .info .description .successes-box {
  display: flex;
  gap: var(--gap-m);
  flex-direction: column;
  align-items: baseline;
  font-size: var(--font-size-l);
}

.welcome .container .info .description .success {
  display: flex;
  gap: var(--gap-s);
  align-items: baseline;
  font-style: italic;
}

.welcome .container .info .description .success i {
  color: var(--color-sky-blue);
}

/* _____ WELCOME: IMAGES _____ */

.welcome .container .images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-xl);
  width: 100%;
  max-width: 100%;
}

.welcome .container .images .image {
  display: flex;
  flex-direction: column;
}

.welcome .container .images .grid-image {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: var(--gap-xl);
}

.welcome .container .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-l);
}

/*
========================================
         SECTION: WELCOME  -  END
========================================
*/

/*
========================================
         SECTION: SERVICE  -  START
========================================
*/

/* ----- PAGINATION ----- */
.section-services .container .swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: flex !important;
  flex-direction: column;
  gap: 0 !important;
}

* .section-services ::-webkit-scrollbar {
  display: none;
}

.section-services
  .container
  .swiper-horizontal
  > .section-services
  .container
  .swiper-pagination-bullets,
.section-services
  .container
  .swiper-pagination-bullets.swiper-pagination-horizontal,
.section-services .container .swiper-pagination-custom,
.section-services .container .swiper-pagination-fraction {
  bottom: 0 !important;
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
  height: 50px; /**/
  position: static;
  display: flex;
  align-items: end;
  justify-content: center;
}
.section-services .container .swiper-pagination {
  position: relative;
  text-align: center;
  transition: 1.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
/* ----- PAGINATION ----- */

.section-services .container .services {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-main);
}

.section-services .swiper {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.section-services .swiper-slide {
  font-size: 18px;
}

.section-services .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-services .services .swiper .swiper-pagination-bullet {
  width: var(--pagination-size);
  height: var(--pagination-size);
  background-color: var(--color-blue);
  transition: background-color 0.3s ease;
}

.section-services .services .swiper .swiper-pagination-bullet-active {
  background-color: var(--color-blue);
}

.section-services .services .swiper .swiper-pagination-bullet:hover {
  background-color: var(--color-blue);
  transform: 1.2;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* ----- CARD ----- */

.section-services .swiper-slide.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-main);
  padding: var(--padding-card);
  background: var(--color-white);
  border-radius: var(--border-radius-l);
  height: 100%;

  transition: all 0.3s ease;
}

.section-services .swiper-slide.card:hover {
  box-shadow: 0px 8px 0px 0px var(--color-blue-soft), 0px 4px 30px 0px rgba(6, 22, 48, 0.40);

}

.section-services .swiper-slide.card .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  gap: var(--gap-xl);
}

.section-services .swiper-slide.card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  gap: var(--gap-xl);
}

.section-services p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-height: 1.5;
}
.section-services .swiper-slide.card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-services .swiper-slide.card .icon img {
  width: 80px; /**/
  height: 80px; /**/
}

.section-services .swiper-slide.card .btn-small.learn {
  display: flex;
  justify-content: start;
  flex: start;
}

.section-services .swiper-slide.card .btn-small.learn a {
  background: transparent;
  color: var(--color-blue-soft);
  border: 1px solid var(--color-blue-soft);
}
.section-services .swiper-slide.card .btn-small.learn a:hover {
  background: var(--color-blue-soft);
  color: var(--color-white);
  gap: var(--gap-xl);
}
.section-services .swiper-slide.card .btn-small.learn a:active {
  background: var(--color-blue);
  color: var(--color-white);
}

/*
========================================
         SECTION: SERVICE  -  END
========================================
*/

/*
========================================
         SECTION: BLOG  -  START
========================================
*/

/* ----- PAGINATION ----- */
.section-blogs .container .swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: flex !important;
  flex-direction: column;
  gap: 0 !important;
}

* .section-blogs ::-webkit-scrollbar {
  display: none;
}

.section-blogs
  .container
  .swiper-horizontal
  > .section-blogs
  .container
  .swiper-pagination-bullets,
.section-blogs
  .container
  .swiper-pagination-bullets.swiper-pagination-horizontal,
.section-blogs .container .swiper-pagination-custom,
.section-blogs .container .swiper-pagination-fraction {
  bottom: 0 !important;
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
  height: 50px; /**/
  position: static;
  display: flex;
  align-items: end;
  justify-content: center;
}
.section-blogs .container .swiper-pagination {
  position: relative;
  text-align: center;
  transition: 1.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
/* ----- PAGINATION ----- */

.section-blogs .container .blogs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-main);
}

.section-blogs .swiper {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.section-blogs .swiper-slide {
  font-size: 18px;
}

.section-blogs .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-blogs .blogs .swiper .swiper-pagination-bullet {
  width: var(--pagination-size);
  height: var(--pagination-size);
  background-color: var(--color-blue);
  transition: background-color 0.3s ease;
}

.section-blogs .blogs .swiper .swiper-pagination-bullet-active {
  background-color: var(--color-blue);
}

.section-blogs .blogs .swiper .swiper-pagination-bullet:hover {
  background-color: var(--color-blue);
  transform: 1.2;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* ----- CARD ----- */

.section-blogs .swiper-slide.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-white);
  border-radius: var(--border-radius-l);
  width: 100%; /**/
  height: 100%;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
}

.section-blogs .swiper-slide.card:hover {
  box-shadow: 0px 8px 0px 0px var(--color-blue-soft);
}

.section-blogs .swiper-slide.card .date {
  display: flex;
  align-items: center;
  width: max-content;
  position: absolute;
  background: var(--color-blue-transparent);
  color: aliceblue;
  top: 3%;
  left: 3%;
  border-radius: var(--border-radius-xs);
  padding: var(--padding-date);

  font-size: var(--font-size-s);
  gap: var(--gap-s);
}

.section-blogs .swiper-slide.card .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  gap: var(--gap-xl);
  padding: var(--padding-card);
}

.section-blogs .swiper-slide.card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  gap: var(--gap-xl);
}

.section-blogs p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-height: 1.5;
}
.section-blogs .swiper-slide.card .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.section-blogs .swiper-slide.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1.5 / 1;
}

.section-blogs .swiper-slide.card .btn-small.learn {
  display: flex;
  justify-content: start;
  flex: start;
}

.section-blogs .swiper-slide.card .btn-small.learn a {
  background: transparent;
  color: var(--color-blue-soft);
  border: 1px solid var(--color-blue-soft);
}
.section-blogs .swiper-slide.card .btn-small.learn a:hover {
  background: var(--color-blue-soft);
  color: var(--color-white);
  gap: var(--gap-xl);
}
.section-blogs .swiper-slide.card .btn-small.learn a:active {
  background: var(--color-blue);
  color: var(--color-white);
}

/*
========================================
         SECTION: BLOG  -  END
========================================
*/

/*
========================================
         SECTION: PARTNERS  -  START
========================================
*/

.partners .container .btn-medium {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.partners .container .partner-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  row-gap: var(--gap-l);
  column-gap: var(--gap-l);
}

.partners .container .partner-list li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners .container .partner-list li:nth-child(n + 7) {
  display: none;
}

.partners .container .partner-list li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1.5 / 1;
  border: 1px solid var(--color-white-soft);
  border-radius: var(--border-radius-xl);
  transition: all 0.8s ease;
}

.partners .container .partner-list li a:hover {
  background: var(--color-white);
  border: none;
  box-shadow: 1px 1px 25px 10px rgba(9, 44, 108, 0.2);
  transform: scale(1.05);
}

.partners .container .partner-list li a img {
  width: 40%;
  height: auto;
  object-fit: cover;
}

/*
========================================
         SECTION: PARTNERS  -  END
========================================
*/
