@import url(../layout/mobile.css);

/*
========================================
         SLİDER  -  START
========================================
*/

.main-slider .swiper {
  width: 100%;
  min-height: 78vh;
  max-height: 95vh;
}

.main-slider .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #9c7373;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 78vh;
  max-height: 95vh;
  position: relative;
}

.main-slider .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  min-height: 78vh;
  max-height: 95vh;
  object-fit: cover;
}

.main-slider .swiper .swiper-button-next,
.main-slider .swiper .swiper-button-prev {
  display: none;
  padding-left: var(--padding-main) !important;
  padding-right: var(--padding-main) !important;
}

.main-slider .swiper .swiper-button-next::after,
.main-slider .swiper .swiper-button-prev::after {
  font-size: var(--font-size-xl) !important;
  font-weight: var(--font-weight-xl) !important;
  color: var(--color-white-soft);
  transition: all 0.3s ease;
}

.main-slider .swiper .swiper-button-next:hover::after,
.main-slider .swiper .swiper-button-prev:hover::after {
  color: var(--color-white);
}

.main-slider .swiper .swiper-pagination {
  bottom: 5%;
}

.main-slider .swiper .swiper-pagination-bullet {
  width: var(--pagination-size);
  height: var(--pagination-size);
  background-color: var(--pagination-color);
  transition: background-color 0.3s ease;
}

.main-slider .swiper .swiper-pagination-bullet-active {
  background-color: var(--color-white);
}

.main-slider .swiper .swiper-pagination-bullet:hover {
  background-color: var(--color-white);
  transform: 1.2;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.main-slider .swiper .swiper-slide .box {
  position: absolute;
  left: 5%;
  bottom: 15%;
  padding: var(--padding-m);
  max-width: 52%;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--gap-l);
  color: var(--color-white);
  border-radius: var(--border-radius-l);
  background: var(--Dark-Blue---Soft, rgba(6, 22, 48, 0.5));
  backdrop-filter: blur(calc(var(--sds-size-blur-100) / 2));
}

.main-slider .swiper .swiper-slide .title {
  font-size: var(--font-size-l);
  text-align: start;
}

/*
========================================
         SLİDER  -  END
========================================
*/

/*
========================================
         SECTION: WELCOME  -  START
========================================
*/

.welcome .container {
  display: grid;
}

.welcome .container .con-row:nth-child(1) {
  order: 2;
  height: 100%;
  width: 100%;
}

.welcome .container .con-row:nth-child(2) {
  order: 1;
}

.welcome .container .con-row:nth-child(3) {
  order: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome .container .info {
  display: flex;
  align-items: center;
  gap: var(--gap-main);
}

.welcome .container .info .description {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  font-size: var(--font-size-l);
}

.welcome .container .info .description .successes-box {
  display: flex;
  gap: var(--gap-m);
  flex-direction: column;
  align-items: baseline;
  font-size: var(--font-size-l);
}

.welcome .container .info .description .success {
  display: flex;
  gap: var(--gap-s);
  align-items: baseline;
  font-style: italic;
}

.welcome .container .info .description .success i {
  color: var(--color-sky-blue);
}

/* _____ WELCOME: IMAGES _____ */

.welcome .container .images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-xl);
  width: 100%;
  max-width: 100%;
}

.welcome .container .images .image {
  display: flex;
  flex-direction: column;
}

.welcome .container .images .grid-image {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: var(--gap-xl);
}

.welcome .container .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-l);
}

/*
========================================
         SECTION: WELCOME  -  END
========================================
*/

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-x: visible !important;
  width: 100%;
  max-width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: flex !important;
  flex-direction: column;
  gap: 0 !important;
}

.swiper::-webkit-scrollbar {
  display: none; /* WebKit tarayıcıları (Chrome, Edge, Safari) için */
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0 !important;
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
  height: 100px;
  position: static;
  display: flex;
  align-items: end;
  justify-content: center;
}
.swiper-pagination {
  position: relative;
  text-align: center;
  transition: 1.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
/*
========================================
         SECTION: SERVICE  -  START
========================================
*/

.section-services .container .services {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-main);
}

.section-services .swiper {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.section-services .swiper .swiper-wrapper{
/* display: flex; */
}

.section-services .swiper-slide {
  font-size: 18px;
}

.section-services .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-services .services .swiper .swiper-pagination-bullet {
  width: var(--pagination-size);
  height: var(--pagination-size);
  background-color: var(--color-blue);
  transition: background-color 0.3s ease;
}

.section-services .services .swiper .swiper-pagination-bullet-active {
  background-color: var(--color-blue);
}

.section-services .services .swiper .swiper-pagination-bullet:hover {
  background-color: var(--color-blue);
  transform: 1.2;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* ----- CARD ----- */

.section-services .swiper-slide.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-main);
  padding: var(--padding-card);
  background: var(--color-white);
  border-radius: var(--border-radius-l);
  height: 100%;
  min-height: 480px;
  transition: all 0.3s ease;
}

.section-services .swiper-slide.card:hover {
  border-bottom: 8px solid var(--color-blue-soft);
  box-shadow: 0px 9px 36.9px 0px rgba(0, 0, 0, 0.25);
}

.section-services .swiper-slide.card .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  gap: var(--gap-xl);
}

.section-services .swiper-slide.card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  gap: var(--gap-xl);
}

.section-services p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-height: 1.5;
}
.section-services .swiper-slide.card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-services .swiper-slide.card .icon img {
  width: 120px;
  height: 120px;
}

.section-services .swiper-slide.card .btn-small.learn {
  display: flex;
  justify-content: start;
  flex: start;
}

.section-services .swiper-slide.card .btn-small.learn a {
  background: transparent;
  color: var(--color-blue-soft);
  border: 1px solid var(--color-blue-soft);
}
.section-services .swiper-slide.card .btn-small.learn a:hover {
  background: var(--color-blue-soft);
  color: var(--color-white);
  gap: var(--gap-xl);
}
.section-services .swiper-slide.card .btn-small.learn a:active {
  background: var(--color-blue);
  color: var(--color-white);
}

/*
========================================
         SECTION: SERVICE  -  END
========================================
*/

/* .services .swiper {
  width: 100%;
  height: 100%;
}

.services .swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services .swiper {
  width: 100%;
}

.services .swiper .swiper-wrapper{
  height: 500px;
}

.services .swiper .swiper-wrapper .swiper-slide {
  font-size: 18px;
  background: #9c7373;
}


.services .swiper .swiper-pagination {
}

.services .swiper .swiper-pagination-bullet {
  width: var(--pagination-size);
  height: var(--pagination-size);
  background-color: var(--color-blue);
  transition: background-color 0.3s ease;
}

.services .swiper .swiper-pagination-bullet-active {
  background-color: var(--color-blue);
}

.services .swiper .swiper-pagination-bullet:hover {
  background-color: var(--color-blue);
  transform: 1.2;
  transition: background-color 0.3s ease, transform 0.3s ease;
} */
