@media (min-width: 769px) {
  .main-slider .swiper .swiper-slide .box {
    max-width: 44%;
    width: max-content;
  }

  /*
========================================
         SECTION: SERVICE  -  START
========================================
*/

  .section-services
    .container
    .swiper-horizontal
    > .section-services
    .container
    .swiper-pagination-bullets,
  .section-services
    .container
    .swiper-pagination-bullets.swiper-pagination-horizontal,
  .section-services .container .swiper-pagination-custom,
  .section-services .container .swiper-pagination-fraction {
    height: 70px; /**/
  }

  .section-services .swiper-slide.card .icon img {
    width: 80px; /**/
    height: 80px; /**/
  }

  /*
========================================
         SECTION: SERVICE  -  END
========================================
*/



/*
========================================
         SECTION: BLOGS  -  START
========================================
*/
.section-blogs
.container
.swiper-horizontal
> .section-blogs
.container
.swiper-pagination-bullets,
.section-blogs
.container
.swiper-pagination-bullets.swiper-pagination-horizontal,
.section-blogs .container .swiper-pagination-custom,
.section-blogs .container .swiper-pagination-fraction {
height: 70px; /**/
}


/*
========================================
         SECTION: BLOGS  -  END
========================================
*/

/*
========================================
         SECTION: PARTNERS  -  START
========================================
*/

.partners .container .partner-list {
  grid-template-columns: repeat(3, 1fr);
}

.partners .container .partner-list li:nth-child(n - 10) {
  display: flex ;
}

.partners .container .partner-list li:nth-child(n + 10) {
  display: none;
}

/*
========================================
         SECTION: PARTNERS  -  END
========================================
*/
}
