@media (min-width: 1024px) {
  /*
========================================
         SECTION: EVENT  -  START
========================================
*/
.events  .card .event-head .card-image {
    min-width: 25%;
    width: 25%;
  }

  .events .card .event-head .event-date {
    display: flex;
    flex-direction: row;
    gap: var(--gap-main);
    font-size: var(--font-size-xs);
  }
  .events.past-events  .card .event-head .info{
    display: flex;
    flex-direction: row;
    gap: var(--gap-main);
    font-size: var(--font-size-xs);
    width: auto;
  }

  
  /*
========================================
         SECTION: EVENT  -  END
========================================
*/
}
