@media (min-width: 1024px) {
  /*
========================================
         SECTION: EVENT  -  START
========================================
*/
  .card .event-head .card-image {
    min-width: 25%;
    width: 25%;
  }
  /*
========================================
         SECTION: EVENT  -  END
========================================
*/
}
