
/*
========================================
         SECTION: EVENT  -  START
========================================
*/

.events .card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-l) ;
overflow: hidden;
}

.events .card .event-head {
  display: flex;
  flex-direction: column;/**/
  gap: var(--gap-card-main);
  padding: var(--padding-card);
  background: var(--color-white);
}

.events .card .event-head .card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;/**/
  width: 100%;/**/
}

.events .card .event-head .card-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1.5/1;
  object-fit: cover;
  object-position: top center;
  border-radius: var(--border-radius-s) ;
}

.events .card .event-head .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: var(--gap-l);
}

.events .card .event-head .card-content .card-title {
  font-size: var(--font-size-card-title);
}

.events .card .event-head .card-content .card-description {
  font-size: var(--font-size-s);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  line-height: 1.5;
}

.events .card .event-head .event-date {
  display: flex;
  flex-direction: column;/* row */
  gap: var(--gap-xl);/* var(--gap-main) */
  font-size: var(--font-size-xs);
}

.events .card .event-head .event-date a {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  color: var(--color-blue-soft);
  text-decoration: none;
}
.events .btn-small a{
  color: var(--color-blue-soft);
  background: var(--color-white);
}

.events .btn-small a:hover{
  color:  var(--color-white);
  background: var(--color-blue-soft);
}

.past-events.events  .btn-small a{
  color:  var(--color-white) !important;
  background: var(--color-blue-soft);
}

.past-events.events .btn-small a:hover{
  background: var(--color-blue);
}


.events.past-events  .card .event-head .event-date{
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.events.past-events  .card .event-head .info{
  display: flex;
  flex-direction: column;/* row */
  gap: var(--gap-xl);/* var(--gap-main) */
  font-size: var(--font-size-xs);
  width: 100%;
}


/*
========================================
         SECTION: EVENT  -  END
========================================
*/

.events .countdown-container {
  display: flex;
  gap: var(--gap-xl);
  align-items: center;
}

.events .countdown-item {
  background-color: white;
  border-radius: 50%;
  width: var(--width-box);
  height: var(--width-box);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events .countdown-value {
  font-size: var(--font-size-l);
  font-weight: bold;
}

.events .countdown-label {
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  color: #333;
}

.events .countdown-join {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: var(--gap-main);

  padding: var(--padding-card);
  background: var(--color-blue);
}


.events .countdown-container h2{
  font-size: var(--font-size-l);
  color: var(--color-white);
  font-weight: var(--font-weight-l);
}