@media (min-width: 769px) {

/*
========================================
         SECTION: EVENT  -  START
========================================
*/
.events .card .event-head {
  flex-direction: row;/**/
}
.events .card .event-head .card-image {
  min-width: 30%;/**/
  width: 30%;/**/
}
.events .countdown-join {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.events.past-events  .card .event-head .event-date{
  flex-direction: row;
}


/*
========================================
         SECTION: EVENT  -  END
========================================
*/
    
    }
    