@media (min-width: 1024px) {
 
/*
========================================
         SECTION: BLOGS  -  START
========================================
*/


  
.grid-container {
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  grid-row: auto;
  gap: var(--gap-main);
  row-gap: var(--gap-xl);
}



.item:nth-child(n + 2) {
  padding: var(--padding-card);
}

.item:nth-child(1) {
  grid-row: 1 / 5;
  order: 1;
}


.item:nth-child(2) {
  order: 2;
}
.item:nth-child(3) {
  order: 3;
}
.item:nth-child(4) {
  order: 4;
}
.item:nth-child(5) {
  order: 5;
}



/* ==================== CONTAINER BLOGS - START ==================== */

.section-blogs-filters .grid-container .item.blogs {
  grid-template-columns: repeat(2, 1fr);
}
.section-blogs-filters .grid-container .item.blogs .card:nth-child(n + 6) {
display: flex;
}
.section-blogs-filters .grid-container .item.blogs .card:nth-child(n + 8) {
  display: none;
  }


/* ==================== CONTAINER BLOGS - END ==================== */



/*
========================================
         SECTION: BLOGS  -  END
========================================
*/

}
