@media (min-width: 1024px) {
 
/*
========================================
         SECTION: BLOGS  -  START
========================================
*/


.grid-container {
  grid-template-columns: 4fr 1.1fr; 
  gap: 32px; 
}

.item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / span 5;
}

.item:nth-child(2) {
  grid-column: 2 / 3;
}

.item:nth-child(3) {
  grid-column: 2 / 3;
}

.item:nth-child(4) {
  grid-column: 2 / 3;
}

.item:nth-child(5){
  grid-column: 2 / 3;
}



/* ==================== CONTAINER BLOGS - START ==================== */

.section-blogs-filters .grid-container .item.blogs {
  grid-template-columns: repeat(2, 1fr);
}
.section-blogs-filters .grid-container .item.blogs .card:nth-child(n + 6) {
display: flex;
}
.section-blogs-filters .grid-container .item.blogs .card:nth-child(n + 8) {
  display: none;
  }


/* ==================== CONTAINER BLOGS - END ==================== */



/*
========================================
         SECTION: BLOGS  -  END
========================================
*/

}
