@media (min-width: 1280px) {

 /*
========================================
         SECTION: EVENT  -  START
========================================
*/
.form-wrapper form {
    width: 50%;
  }

  .other-auth{
    width: 50%;
  }
  
/*
========================================
         SECTION: EVENT  -  END
========================================
*/
}
