::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-main-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
  border-radius: 4px;
  border: 1px solid var(--color-main-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark-blue);
}

::-webkit-scrollbar-corner {
  background-color: var(--color-main-color);
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--color-main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
}

:root {
  /* _____ COLORS _____ */
  --color-white: #fff;
  --color-white-soft: #dfdfdf;
  --color-blue: #092c6c;
  --color-blue-soft: #2b5fc1;
  --color-main-color: #ecf0f5;
  --color-card: #e7f1ff;
  --color-dark-blue: #061630;
  --color-grey: #7b7e86;
  --color-black: #000;
  --color-footer: #8a99b4;

  /* _____ COLORS SWIPER _____ */

  --pagination-color: #ffffff80;

  /* _____ FONT WEIGHT _____ */
  --font-weight-s: 400;
  --font-weight-m: 500;
  --font-weight-l: 600;
  --font-weight-xl: 700;

  /* _____ FONT SIZE _____ */
  --font-size-xs: 8px;
  --font-size-s: 10px;
  --font-size-m: 12px;
  --font-size-l: 14px;
  --font-size-xl: 16px;

  /* _____ PADDING _____ */
  --padding-main: 20px;
  --padding-main-top: 20px;
  --padding-list: 6px 8px;
  --padding-input: 12px 14px;
  --padding-button: 6px 8px;
  --padding-button-xl: 8px 10px; /**/

  --padding-xs: 8px;
  --padding-s: 10px;
  --padding-m: 12px;
  --padding-l: 24px;

  /* _____ GAP _____ */
  --gap-section: 32px;

  --gap-xs: 4px;
  --gap-s: 6px;
  --gap-m: 8px;
  --gap-l: 12px;
  --gap-xl: 14px;

  /* _____ BORDER RADIUS _____ */
  --border-radius-xs: 4px;
  --border-radius-s: 6px;
  --border-radius-m: 8px;
  --border-radius-l: 10px;

  /* _____ WIDTH _____ */
  --width-flag: 14px;
  --width-logo: 140px;

  --pagination-size: 8px;
  --pagination-active-size: 10px;
}

@media (max-width: 768px) {
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-blue) var(--color-blue);
  }

  .header .auth {
    display: none;
  }
  .subheader .search-language .search .search-box .search-result li a .map {
    display: none;
  }

  .header .menu {
    display: none;
  }
  .header .empty {
    display: flex;
    width: 14px;
  }

  .header {
    padding: var(--padding-main) var(--padding-main-top);
  }
}
@media (min-width: 769px) {
  :root {
    /* _____ FONT SIZE _____ */
    --font-size-xs: 10px; /**/
    --font-size-s: 12px; /**/
    --font-size-m: 14px; /**/
    --font-size-l: 16px; /**/
    --font-size-xl: 18px; /**/

    /* _____ PADDING _____ */
    --padding-main: 24px; /**/
    --padding-main-top: 20px; /**/
    --padding-list: 10px 16px;
    --padding-input: 14px 16px; /**/
    --padding-button: 8px 10px; /**/
    --padding-button-xl: 10px 12px; /**/

    --padding-xs: 10px; /**/
    --padding-s: 12px; /**/
    --padding-m: 14px; /**/
    --padding-l: 16px; /**/

    /* _____ GAP _____ */
    --gap-section: 40px;

    --gap-xs: 6px; /**/
    --gap-s: 8px; /**/
    --gap-m: 10px; /**/
    --gap-l: 14px; /**/
    --gap-xl: 16px; /**/

    /* _____ BORDER RADIUS _____ */
    --border-radius-xs: 4px;
    --border-radius-s: 6px;
    --border-radius-m: 8px;
    --border-radius-l: 10px;

    /* _____ WIDTH _____ */
    --width-flag: 20px; /**/
    --width-logo: 220px; /**/

    --pagination-size: 10px;
    --pagination-active-size: 12px;
  }
}
@media (min-width: 1024px) {
  :root {
    /* _____ FONT SIZE _____ */
    --font-size-xs: 12px; /**/
    --font-size-s: 14px; /**/
    --font-size-m: 16px; /**/
    --font-size-l: 18px; /**/
    --font-size-xl: 20px; /**/

    /* _____ PADDING _____ */
    --padding-main: 46px; /**/
    --padding-main-top: 24px; /**/
    --padding-list: 24px; /**/
    --padding-input: 14px 16px;
    --padding-button: 8px 10px;
    --padding-button-xl: 10px 12px;

    --padding-xs: 12px; /**/
    --padding-s: 14px; /**/
    --padding-m: 16px; /**/
    --padding-l: 18px; /**/


    /* _____ GAP _____ */
    --gap-section: 80px; /**/

    --gap-xs: 8px; /**/
    --gap-s: 10px; /**/
    --gap-m: 12px; /**/
    --gap-l: 16px; /**/
    --gap-xl: 18px; /**/

    /* _____ BORDER RADIUS _____ */
    --border-radius-xs: 6px; /**/
    --border-radius-s: 8px; /**/
    --border-radius-m: 10px; /**/
    --border-radius-l: 12px; /**/
    /* _____ WIDTH _____ */
    --width-flag: 22px;
    --width-logo: 220px;

    --pagination-size: 12px;
    --pagination-active-size: 14px;
  }
}
@media (min-width: 1280px) {
  :root {
    /* _____ FONT SIZE _____ */
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
    --font-size-xl: 20px;

    /* _____ PADDING _____ */
    --padding-main: 60px; /**/
    --padding-main-top: 24px;
    --padding-list: 24px;
    --padding-input: 14px 16px;
    --padding-button: 10px 12px;
    --padding-button-xl: 12px 14px;

    --padding-xs: 14px; /**/
    --padding-s: 16px; /**/
    --padding-m: 18px; /**/
    --padding-l: 20px; /**/

    /* _____ GAP _____ */
    --gap-section: 100px; /**/

    --gap-xs: 10px; /**/
    --gap-s: 12px; /**/
    --gap-m: 14px; /**/
    --gap-l: 18px; /**/
    --gap-xl: 20px; /**/

    /* _____ BORDER RADIUS _____ */
    --border-radius-xs: 8px; /**/
    --border-radius-s: 10px; /**/
    --border-radius-m: 12px; /**/
    --border-radius-l: 14px; /**/
    /* _____ WIDTH _____ */
    --width-flag: 24px;
    --width-logo: 240px;

    --pagination-size: 14px;
    --pagination-active-size: 16px;
  }
}

/*
========================================
         SUB HEADER  -  START
========================================
*/

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-blue);
  color: var(--color-white-soft);
  width: 100%;
  gap: var(--gap-l);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-s);
  padding-top: var(--padding-xs);
  padding-bottom: var(--padding-xs);
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
}

/* ----- CONTACT ----- */
.subheader .contact-us {
  min-width: max-content;
}

.subheader .contact-us a {
  text-decoration: none;
  color: var(--color-white-soft);
}

.subheader .contact-us a:hover {
  color: var(--color-white);
  transition: all 0.3s ease;
}

/* ----- SEARCH & LANGUAGE ----- */
.subheader .search-language {
  display: flex;
  gap: var(--gap-l);
  justify-content: end;
  align-items: center;
  width: 100%;
}

/* SEARCH */
.subheader .search-language .search {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: var(--gap-s);
  position: relative;
}

.subheader .search-language .search .search-box {
  width: 100%;
  position: absolute;
  display: none;
  top: 200%;
  left: 0;
  z-index: 10000;
}

.subheader .search-language .search .search-box .search-input {
  border: none;
  width: 100%;
  padding: var(--padding-input);
  border-radius: var(--border-radius-s);
  font-size: var(--font-size-m);
  background: var(--color-white-soft);
}

.subheader .search-language .search .search-box .search-input:focus {
  outline: none;
  border: none;
}

.subheader .search-language .search .search-box .search-input::placeholder {
  font-size: var(--font-size-s);
  color: var(--color-grey);
}

.subheader .search-language .search .search-box .search-result {
  position: absolute;
  list-style: none;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  padding: var(--padding-s);
  border-radius: 0 0 var(--border-radius-s) var(--border-radius-s);
  transition: all 0.5s ease;
}
.subheader .search-language .search .search-box .search-result li {
  transition: all 0.5s ease;
}
.subheader .search-language .search .search-box .search-result li:hover {
  background-color: var(--color-card);
}
.subheader .search-language .search .search-box .search-result li a {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-input);
  text-decoration: none;
  color: var(--color-blue);
}
.subheader .search-language .search .search-box .search-result li a .title {
  font-size: var(--font-size-m);
}
.subheader .search-language .search .search-box .search-result li a .map {
  font-size: var(--font-size-xs);
  color: var(--color-grey);
}
.subheader .search-language .search .search-btn {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  font-size: var(--font-size-s);
  cursor: pointer;
}

.subheader .search-language .search .search-btn .fa-times {
  display: none;
}

.subheader .search-language .search.active .search-box,
.subheader .search-language .search.active .search-btn .fa-times {
  display: flex;
}

.subheader .search-language .search.active .search-btn p,
.subheader .search-language .search.active .search-btn .fa-magnifying-glass {
  display: none;
}

.subheader .search-language .search .search-box.active .search-result {
  display: block;
  opacity: 1;
}

.subheader .search-language .search .search-box.active .search-input {
  border-radius: var(--border-radius-xs) var(--border-radius-xs) 0 0;
}

.subheader .search-language .search .search-box,
.subheader .search-language .search.active .search-result {
  transition: all 0.5s ease;
}

.subheader .search-language .language-picker .dropdown {
  transition: all 0.5s ease;
}

/* LANGUAGE PICKER */
.subheader .search-language .language-picker {
  position: relative;
  display: flex;
  width: max-content;
}

.subheader .search-language .selected-language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: var(--gap-l);
  width: 100%;
}

.selected-language .flag {
  width: var(--width-flag);
}

.subheader .search-language .selected-language .arrow {
  font-size: var(--font-size-s);
  transition: all 0.5s ease;
}

.subheader .search-language .lang {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.subheader .search-language .dropdown {
  display: none;
  position: absolute;
  top: 200%;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  border-radius: var(--border-radius-xs);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
}

.subheader .search-language .option {
  display: flex;
  align-items: center;
  padding: var(--padding-xs);
  cursor: pointer;
  gap: var(--gap-s);
}

.subheader .search-language .option:hover {
  background-color: var(--color-white-soft);
}

.subheader .search-language .option .flag {
  width: var(--width-flag);
}

.subheader .search-language .option span {
  font-size: var(--font-size-s);
  color: var(--color-blue);
}

/*
========================================
         HEADER MENU -  START
========================================
*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  transition: all 0.5s ease;
}

.header .burger i {
  font-size: var(--font-size-l);
  color: var(--color-white);
}

.header.scroll {
  background: transparent;
  background: var(--color-blue);
  top: 0;
}

.logo a {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: var(--width-logo);
}

/* ----- BURGER MENU ----- */

/* BURGER MENU */
.burger-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 7;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: var(--color-white);
  top: 0;
  left: -100%;
  transition: left 0.5s ease;
}

.burger-menu.active {
  left: 0;
}

/* BURGER MENU - HEADER */
.burger-menu .menu-header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-main);
  background: var(--color-blue);
  color: var(--color-white);
}

.burger-menu .menu-header .logo a,
.burger-menu .menu-header .close {
  display: flex;
  justify-content: center;
  max-width: max-content;
  cursor: pointer;
}

.burger-menu .menu-header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-menu .menu-header .logo img {
  width: var(--width-logo);
}

.burger-menu .menu-header i {
  font-size: var(--font-size-l);
}

/* BURGER MENU - LIST */

.burger-menu .menu-list {
  display: flex;
  flex-direction: column;
  padding: var(--padding-main);
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  gap: var(--gap-section);
}
.burger-menu .menu-list::-webkit-scrollbar {
  display: none;
}

.menu-list .pages {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-l);
}
.menu-list .pages hr {
  width: 100%;
  border: 1px solid var(--color-dark-blue);
  opacity: 0.3;
}

.menu-list .pages .menu-list-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-input);
  gap: var(--gap-l);
  width: 100%;
  border-bottom: 1px solid var(--color-grey);
}

.menu-list .pages .menu-list-li a {
  color: var(--color-dark-blue);
  text-decoration: none;
  font-weight: var(--font-weight-l);
  gap: var(--gap-m);
  font-size: var(--font-size-l);
}

/* SUB LIST */
.menu-list .pages .menu-list-li .sub-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: var(--gap-s);
}
.menu-list .pages .menu-list-li .sub-list a {
  font-size: var(--font-size-l);
  color: var(--color-grey);
  font-weight: var(--font-weight-s);
}

.menu-list .pages .menu-list-li .sub-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.menu-list .pages .menu-list-li .sub-list.open {
  max-height: 300px;
}

/* BURGER MENU - AUTH */
.auth {
  display: flex;
  padding: var(--padding-button-xl);
  background: var(--color-blue);
  max-width: max-content;
  border-radius: var(--border-radius-s);
  gap: var(--gap-m);
  color: var(--color-white);
  align-items: center;
  font-size: var(--font-size-s);
}
.auth .auth-user {
  display: flex;
  gap: var(--gap-s);
  align-items: center;
}

.auth .auth-user a {
  display: flex;
  gap: var(--gap-xs);
  color: var(--color-white);
  text-decoration: none;
  align-items: center;
}

/*
========================================
         FOOTER  -  START
========================================
*/

/* ----- MAIN FOOTER ----- */

footer {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
}

.footer-main {
  padding: var(--padding-main);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  gap: var(--padding-main);
}

.footer-main .navbar {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  font-size: var(--font-size-s);
}

.footer-main .navbar .con-list {
  list-style: none;
  display: flex;
  gap: var(--gap-s);
  flex-direction: column;
}
.footer-main .navbar .con-list a {
  color: var(--color-footer);
  text-decoration: none;
}

.footer-main .navbar .social-platforms {
  list-style: none;
  display: flex;
  gap: var(--gap-xl);
  align-items: center;
}

.footer-main .navbar .social-platforms li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}


.footer-main .navbar .social-platforms a {
  color: var(--color-white);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue);
  padding: var(--padding-xs);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.footer-main .navbar .social-platforms a:hover {
  background: var(--color-blue-soft);
}

.footer-main .navbar .social-platforms p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-main .navbar span {
  font-size: var(--font-size-l);

}

.footer-main .navbar .menu {
  list-style: none;
  display: flex;
  gap: var(--gap-s);
  flex-direction: column;
}

.footer-main .navbar .menu li a {
  text-decoration: none;
  color: var(--color-footer);
}

.footer-main .navbar .country {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  text-decoration: none;
  color: var(--color-white);
}










.footer-main .navbar ul.con-list li ,
.footer-main .navbar ul.menu li  {
display: flex;
}



.footer-main .navbar ul.con-list li a,
.footer-main .navbar ul.menu li a {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}

.footer-main .navbar ul.con-list li a::after,
.footer-main .navbar ul.menu li a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  top: 50%;
  left: 0;
  background: var(--color-white);
  transform: translateY(-50%);
  transition: width 0.3s ease;
}

.footer-main .navbar ul.con-list li a:hover,
.footer-main .navbar ul.menu li a:hover {
  color: var(--color-white);
  padding-left: var(--padding-l);
}

.footer-main .navbar ul.con-list li a:hover::after,
.footer-main .navbar ul.menu li a:hover::after {
  width: var(--padding-xs);
}















.footer-main .navbar .country img {
  width: var(--width-flag);
}

.footer-development {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: var(--font-size-s);
  padding-top: var(--padding-xs);
  padding-bottom: var(--padding-xs);
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
  color: var(--color-white-soft);
  background: var(--color-blue);
  gap: var(--gap-m);
}
.footer-development a {
  color: var(--color-white-soft);
  text-decoration: none;
}
.footer-development a:hover {
  color: var(--color-white);
}
