@import url(./mobile.css);

@media (min-width: 769px) {
  :root {
    /* _____ FONT SIZE _____ */
    --font-size-xs: 10px; /**/
    --font-size-s: 12px; /**/
    --font-size-m: 14px; /**/
    --font-size-l: 16px; /**/
    --font-size-xl: 18px; /**/
  }

  :root {
    /* _____ PADDING _____ */
    --padding-main: 24px; /**/
    --padding-main-top: 20px; /**/
    --padding-list: 10px 16px;
    --padding-input: 14px 16px; /**/
    --padding-button: 8px 10px; /**/
    --padding-button-xl: 10px 12px; /**/

    --padding-xs: 10px; /**/
  }

  :root {
    /* _____ GAP _____ */
    --gap-section: 40px;

    --gap-xs: 6px; /**/
    --gap-s: 8px; /**/
    --gap-m: 10px; /**/
    --gap-l: 14px; /**/
    --gap-xl: 16px; /**/
  }

  :root {
    /* _____ BORDER RADIUS _____ */
    --border-radius-xs: 4px;
    --border-radius-s: 6px;
    --border-radius-m: 8px;
  }

  :root {
    /* _____ WIDTH _____ */
    --width-flag: 20px; /**/
    --width-logo: 220px; /**/
  }

  .header {
    padding: var(--padding-main-top) var(--padding-main);
  }

  .header .menu {
    display: none;
  }

  .header .empty {
    display: none;
  }

  .header .burger {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-white);
  }
}
