@media (min-width: 769px) {


  .header {
    padding: var(--padding-main-top) var(--padding-main);
  }

  .header .menu {
    display: none;
  }

  .header .empty {
    display: none;
  }

  .header .burger {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-white);
  }
}
